h1 {
    text-align: left;
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 450px;
    background-color: #0D1B2A;
    padding: 10px 20px 20px 10px;
    border-radius: 5%;
}

.dependentForm {
    display: none;
}

input[type="text"], select {
    width:60%;
}

input[type="password"], select {
    width:60%;
}

input[type="email"], select {
    width:60%;
}