.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.text-button {
    border: none;
    background-color: inherit;
    padding: 4px 4px;
    cursor: pointer;
    display: inline-block;
}

.form-element {
    margin-right: 8px;
}

.text-button:hover {background: #eee;}
