#registerForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 350px;
    background-color: #415A77;
    padding: 0px 10px 10px 10px;  
    /* top right left bottom*/
    border-radius: 5%;
    color:#E0E1DD;
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
}

.button a:hover {
    opacity: 0.8;
    background-color: #415A77;
    color: black;
}