h1 {
    overflow-wrap: break-word;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

a {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
}

h2 {
    overflow-wrap: break-word;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

h3 {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

p {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

span {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

label {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #1B263B;
}

input.button:hover {
    background-color: #415A77;
}

button:hover {
    background-color: #415A77;
}

input, textarea, select {
    background-color: #1B263B;
    font-family: Arial, sans-serif;
    color: #E0E1DD;
}

textarea {
    resize: none;
}

#footer {
    margin-top: auto;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: 70%;
}

label {
    color: #E0E1DD;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #E0E1DD;
    background-color: #0D1B2A;
    border-radius: 5%;
}

.button a:hover{
    opacity: 0.8;
    background-color: #415A77;
    color: #E0E1DD;
}


.button-container {
    /* Use flexbox to line up the buttons horizontally */
    display: flex;
    /* Center the buttons horizontally within the container */
    justify-content: center;
    /* Add a little top padding so they're not at the very top of the page */
    padding-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #E0E1DD;
    background-color: #0D1B2A;
}

/* Optional hover effect */
.button-container button:hover {
    opacity: 0.8;
    background-color: #415A77;
    color: black;
}